.transaction-card {
  padding: 8px;
  min-height: 80px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &--success {
    border-left: 8px solid #56b586;
  }
  &--pending {
    border-left: 8px solid #fd6542;
  }

  &__info-dots {
    margin: 0 4px;
    background-color: #000000;
    height: 6px;
    width: 6px;
    border-radius: 50%;
  }

  &__info-bank {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 600;
  }

  &__info-name {
    margin-bottom: 4px;
  }

  &__info-amount {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
}
